@use "~bulma/bulma";

.footer-radius {
  border-bottom-left-radius: var(--bulma-box-radius);
  border-bottom-right-radius: var(--bulma-box-radius);
}

.custom-icon {
    color: var(--bulma-text-strong)
}

.profile-photo {
  border-radius: 50%;
  clip-path: circle();
}

.link-no-decoration {
    text-decoration: none !important;
}

.no-gap {
    gap: 0 !important;
}

.is-full-height {
  min-height: calc(100vh - 3.25rem);
}

.nowrap {
  text-wrap: nowrap;
}

.testt {
  display: inline;
  vertical-align: bottom;
}

.navbar-theme-button {
  margin-inline: auto;
  margin-right: 0px;
}

.navbar-burger-no-margin {
  margin-inline: 0 !important;
}